{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block page_title %}Add Product - Doodle This{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1">
            <div class="content-panel p-3 mb-5 row">
                <h1 class="col-12 mb-3 text-center">Add Product</h1>
                <!-- add product form -->
                <form method="POST" action="{% url 'add_product' %}" class="row">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name != 'description' %}
                    <div class="col-12 col-md-6 mb-3">
                        {{ field | as_crispy_field }}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="col-12 mb-3">
                        {{ form.description | as_crispy_field }}
                    </div>
                    <p class="small text-center"><em>Fields marked with a * are required.</em></p>
                    <!-- submit button -->
                    <button type="submit" class="btn btn-brand-primary col-12 col-md-4 offset-md-4">Add Product</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}