{% load static %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% endblock %}

    {% block page_meta %}
    {% endblock %}
    
    {% block vendor_css %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" 
            integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
            integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Quicksand&display=swap" 
            rel="stylesheet"> 
    {% endblock %}

    {% block site_css %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}

    {% block page_css %}
    {% endblock %}

    {% block page_head %}
    {% endblock %}

    <link rel="icon" type="image/png" sizes="32x32" 
        href="{{ MEDIA_URL }}icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" 
        href="{{ MEDIA_URL }}icons/favicon-16x16.png">

    <title>{% block page_title %}Doodle This{% endblock %}</title>
</head>

<body class="d-flex flex-column h-100">
    <header>
        {% include 'includes/navbar.html' %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="toast-container"></div>

    {% include 'includes/footer.html' %}

    {% block page_modals %}
    {% endblock %}

    {% block vendor_js %}
    <!-- Load jQuery 3.6.0 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" 
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Load Bootstrap 5.1.3 js bundle -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js" 
        integrity="sha512-pax4MlgXjHEPfCwcJLQhigY7+N8rt6bVvWLFyUMuxShv170X53TRzGPmPkZmGBhk+jikR8WBM4yl7A9WMHHqvg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Load LocalForage -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.10.0/localforage.min.js" 
        integrity="sha512-+BMamP0e7wn39JGL8nKAZ3yAQT2dL5oaXWr4ZYlTGkKOaoXM/Yj7c4oy50Ngz5yoUutAG17flueD4F6QpTlPng==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Load Stripe javascript -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block site_js %}
    <!-- Load js to handle toast notifications -->
    <script src="{% static 'notifications/js/notifications.js' %}"></script>
    {% endblock %}

    {% block page_js %}
    {% endblock %}

    <!--  -->
    {{ message_array|json_script:"json_messages" }}
</html>